html,body {
	background-color: #f2f9cd;
	padding: 10px;
	text-align: center;
}

h2 {
	color: grey;
}

h3 {
	color: #dd1d1d
}

.App {
	background-color: #b3d1cf;
	padding: 10px;
}

.selectionBar {
	border: 3px solid #feeb47;
	background-color: #d1e2f1;
	padding-top: 5px;
}

.selectionBar a {
	transition: 0.2s;
}

.arrElement {
  padding: 5px;
  font-size: 1.25em;
  border: 1px solid grey;
}

.green {
  color: green
}

.orange {
  color: brown

}

.sorted {
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
}

.badInput {
	border: 3px solid red;
}

a {
	margin: 10px;
}

.bold {
	font-weight: bold;
}