.arrElement {
  padding: 5px;
  font-size: 1.25em;
  border: 1px solid grey;
}

.green {
  color: green
}

.orange {
  color: orange
}

.sorted {
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
}

.badInput {
	border: 3px solid red;
}